#slider {
	margin: 2em auto;
	width: 960px;
  overflow: hidden;
  
  #slider-wrapper {
    width: 9999px;
    height: 300px;
    position: relative;
    transition: left 400ms linear;
  }
}

.slide {
	float: left;
	width: 960px;
	height: 300px;
	position: relative;
	overflow: hidden;
    img {
    position: absolute;
    top: 0;
    left: 0;
    height:285px;
    width:100%;
  }
}

#slider-nav {
	margin: 1em 0;
  text-align: center;
  
    a {
    width: 2em;
    height: 2em;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: inline-block;
    line-height: 2;
    margin-right: 0.5em;

      .current {
      border-color: #000;
    }
  }
}
